.admin-header {
    background-color: var(--button-lime-green);

    height: 12dvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-header h2 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24pt;
    margin: 0;
}