.admin-header {
    background-color: var(--button-lime-green);

    height: 12dvh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 24pt;
        margin: 0 0 0 20rem;
    }

    .logout-container {
        cursor: pointer;

        p {
            margin: 0;
            font-weight: 600;
        }
    }


}