.whatsapp-popup {
  position: fixed;
  z-index: 1000;
  right: 1em;
  bottom: 1em;

  width: 4em;
  height: auto;

  transition: width 0.3s ease;

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    width: 4.5em;
  }
}