.categories-page-container {
    .categories-filter-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 1rem 7.5rem 2rem 3.8rem;

        .categories-page-filter {
            display: flex;
            gap: 5.5rem;
        }

        .input-quantity {
            width: 40%;
        }
    }


}