.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.login-box {
  background: white;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 400px;
  height: 250px;
  text-align: center;
}

.logo {
  margin-top: 4rem;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
  }

  &:first-of-type {
    input {
      border: 1px solid var(--input-color);
    }
  }

  input {
    width: 93%;
    padding: 0.8rem;
    border-radius: 6px;
    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: var(--title-blue);
    }
  }


}

.login-button {
  width: 40%;
  padding: 0.9rem;
  margin: 1rem 0;
  background-color: var(--button-lime-green);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}