.header-mobile {
    height: 250px;
    padding: 10px 30px;

    display: flex;
    flex-direction: column;

    .logo {
        height: 120px;
    }

    .icon {
        height: 30px;
    }

    .search-container {
        width: 90%;
    }

    .row-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }

    .row-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .search-results {
            position: absolute;
            top: 75%;
            left: 0;
            z-index: 10;

            width: 96%;
            background-color: #f4f4f4;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 8px 8px;

            height: auto;
            max-height: 30dvh;
            padding: 0.5em;
            overflow-y: auto;

            display: flex;
            flex-direction: column;
            gap: 1em;

            li {
                list-style-type: none;

                cursor: pointer;
            }
        }
    }
}