.modal-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-delete-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-delete-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--text-primary-color);
}

.modal-delete-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--text-primary-color);
}

.modal-delete-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.modal-delete-buttons .cancel {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-delete-buttons .cancel:hover {
    background-color: #bbb;
}

.modal-delete-buttons .delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-delete-buttons .delete:hover {
    background-color: #c0392b;
}

@media screen and (max-width: 490px){
    .modal-delete-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .modal-delete-content {
        width: 70%;
    }
}