.container-form {
    background-color: #B5ECF5;
    color: #0A2C3D;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 6.2em;
    gap: 1.2rem;

    h3{
        font-weight: 500;
        font-size: 2rem;
    }

    input{
        background-color: #F1F5DF;
        color: #44463A;
        font-size: 1.5rem;
        font-weight: 400;
        width: 25rem;
        height: 3.1rem;
        text-align:start;
        border-radius: .3rem;
        padding: 0 1.2rem;
    }

    button{
        background-color: #0A2C3D;
        color: white;
        font-size: 1.5rem;
        width: 12.5rem;
        height: 3.1rem;
        border-radius: .3rem;
    }
}