.content-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
}

.column-edit {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-edit div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    padding-top: 4%;
}

.content-body span {
    width: 53%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 4%;
}

.column-edit h3 {
    color: var(--button-lime-green);
}

.column-edit h3,
.column-edit p {
    font-size: 1.6rem;
    margin: 0;
}