.footer-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0;

  height: 45em;
  background-image: url("../../../assets/Images/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20% 5% 2% 5%;
  margin-top: 5em;

  a {
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 4dvw;
  }

  p {
    font-size: 4dvw;
  }

  .flex-field-title {
    font-size: 6dvw;
    font-weight: 600;
    margin: 0 0 1em 0;
  }

  div {
    margin-top: 2%;
  }

  .first-footer-section {
    display: flex;
    flex-direction: column;

    .logo {
      width: 30dvw;
      margin-bottom: 1em;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        a .flex-field-title {
          margin-bottom: 1.2em;
        }
    
        .flex-field-title {
          margin: 0;
        }
    
        .social-media {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
          font-weight: 600;

          margin-top: 0.5em;

          img {
            width: 5dvw;
          }
  
          p {
            margin: 0;
          }
        }
      }
    
      .category {
        display: flex;
        flex-direction: column;
    
        div {
          display: flex;
          flex-direction: column;
          gap: 0.3dvh;
        }
      }
    }

  }

  .time {
    display: flex;
    flex-direction: column;
    gap: 5dvh;

    .business-hour {
      div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          margin: 0;
        }
      }
    }

    .card-flags {
      .flex-field-title {
        margin-bottom: 0.5em;
      }

      .flags {
        width: 60dvw;
      }
    }
  }

  .location {
    div {
      display: flex;
      align-items: center;
      gap: 0.3dvh;

      .location-img {
        width: 6dvw;
      }

      .flex-field-title {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer-mobile {
    height: 65em;
    padding: 15% 5% 2% 5%;
    gap: 2dvh;

    a {
      text-decoration: none;
      color: var(--text-primary-color);
      font-size: 3dvw;
    }
  
    p {
      font-size: 3dvw;
    }
  
    .flex-field-title {
      font-size: 4dvw;
      font-weight: 600;
      margin: 0 0 1em 0;
    }
  
    div {
      margin-top: 2%;
    }

    .first-footer-section .logo {
      width: 25dvw;
    }

    .time {
      gap: 3dvh;
  
      .card-flags .flags {
        width: 35dvw;
      }
    }
  }
}