.category-component {
    text-align: center;
    padding: 0 15%;

    height: 80dvh;

    h2 {
        font-weight: 700;
        font-size: 2.2rem;
    }

    .category-component-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .arrows {
            margin: 0 2em;
            width: 2em;
            height: auto;
            position: absolute;
            z-index: 100;

            cursor: pointer;

            &:first-child {
                left: 13%;
            }

            &:last-child {
                right: 13%;
            }
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .default {
        color: var(--text-primary-color);
    }
    .pink {
        color: var(--title-pink);    
    }
    .green {
        color: var(--title-green);  
    }
    .blue {
        color: var(--title-blue);   
    }
}

@media (min-width: 1678px) {
    .category-component {
        padding: 0 20%;
    }
}

@media (max-width: 1677px) {
    .category-component {
        padding: 0 5%;

        .category-component-container .arrows {
            &:first-child {
                left: 6%;
            }

            &:last-child {
                right: 6%;
            }
        }
    }
}

@media (max-width: 820px) {
    .category-component {
        padding: 0 15%;

        .category-component-container .arrows {
            &:first-child {
                left: 1%;
            }

            &:last-child {
                right: 1%;
            }
        }
    }
}

@media (max-width: 504px) {
    .category-component  {
        padding: 0 20%;

        .category-component-container .arrows {
            &:first-child {
                left: -1%;
            }
    
            &:last-child {
                right: -1%;
            }
        }
    }
}