.category-component {
    text-align: center;
    padding: 0 15%;

    height: auto;

    h2 {
        font-weight: 700;
        font-size: 2.2rem;
    }

    .category-component-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .arrows {
            margin: 0 auto;
            width: 2em;
            height: auto;
            position: absolute;
            z-index: 100;

            cursor: pointer;

            &:first-child {
                left: 22%;
            }

            &:last-child {
                right: 22%;
            }
        }
    }

    .default {
        color: var(--text-primary-color);
    }

    .pink {
        color: var(--title-pink);
    }

    .green {
        color: var(--title-green);
    }

    .blue {
        color: var(--title-blue);
    }
}

@media screen and (min-width: 319px) and (max-width: 768px) {
    .category-component {
        .category-component-container {
            gap: 1rem;
        }

        .category-component-container .arrows {
            &:first-child {
                left: 7%;
            }

            &:last-child {
                right: 7%;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 860px) {
    .category-component {
        .category-component-container .arrows {
            &:first-child {
                left: 12%;
            }

            &:last-child {
                right: 12%;
            }
        }
    }
}