.category-component {
    text-align: center;
    padding: 0 15%;

    height: auto;

    h2 {
        font-weight: 700;
        font-size: 2.2rem;
    }

    .category-component-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        .arrows {
            margin: 0 auto;
            width: 2em;
            height: auto;
            position: absolute;
            z-index: 100;

            cursor: pointer;

            &:first-child {
                left: 4%;
            }

            &:last-child {
                right: 4%;
            }
        }
    }

    .default {
        color: var(--text-primary-color);
    }
    .pink {
        color: var(--title-pink);    
    }
    .green {
        color: var(--title-green);  
    }
    .blue {
        color: var(--title-blue);   
    }
}

@media screen and (min-width: 768px) {
    .category-component {
        padding-inline: 8%;

        .category-component-container {
            gap: 0.5em;
            
            .arrows {
                &:first-child {
                    left: 5%;
                }
    
                &:last-child {
                    right: 5%;
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
    .category-component {
        padding-inline: 3%;

        .category-component-container {
            gap: none;

            .arrows {
                &:first-child {
                    left: 5%;
                }
    
                &:last-child {
                    right: 5%;
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) and (max-width: 1480px) {
    .category-component {
        .category-component-container .arrows {
            &:first-child {
                left: 18%;
            }

            &:last-child {
                right: 18%;
            }
        }
    }
}

@media screen and (min-width: 1480px) and (max-width: 1680px){
    .category-component {
        padding-inline: 0;

        .category-component-container .arrows {
            &:first-child {
                left: 12%;
            }

            &:last-child {
                right: 12%;
            }
        }
    }
}

@media screen and (min-width: 1680px) {
    .category-component {
        padding-inline: 0;

        .category-component-container .arrows {
            &:first-child {
                left: 15%;
            }

            &:last-child {
                right: 15%;
            }
        }
    }
}