.admin-asidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    
    width: 13dvw;
    height: auto;
    padding: 1.3em 0;
    margin: 0;

    border-right: 1px solid var(--button-lime-green);

    @media(max-width:768px) {
        width: 28dvw;
    }
    .logo {
        margin-bottom: 3em;

        width: 100%;

        img {
            max-width: 7dvw;
            width: 100%;

            height: auto;

            transition: transform 0.3s ease;

            @media(max-width:768px) {
                max-width: 17dvw;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .admin-asidebar-buttons {
        list-style-type: none;

        display: flex;
        flex-direction: column;

        padding: 0;
        gap: 3.5em;

        li {
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            a {
                text-decoration: none;
                color: var(--text-primary-color);
    
                img {
                    width: 30%;
                }

                p {
                    margin: 0;
                    font-size: 1dvw;
                }
            }
        }
    }
}
