.manage-page {
    .manage-page-inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2em 6.4em 2em 3.3em;
    }

    .modal-row-admin {
        display: flex;
        gap: 2rem;
    
        .modal-column-admin {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    
    .textarea-manages {
        margin: 2rem 0 3rem 0;
        width: 95%;
        height: 10rem;
        padding: 0.5rem;
    
        border: 1px solid #6BA57D;
        border-radius: 5px;
    
        &:focus {
            outline: #6BA57D;
        }
    }
}
