.manages{

    .resources{
        display: flex;
        justify-content: space-around;
        font-weight: 500;
        font-size: 1.3rem;
        margin-top: 6.6rem;
    }

    .inputs-manages{
        display: flex;
        justify-content: space-around;
        margin-top: 4.3rem;
    }

   
}