.manages{

    .resources{
        display: flex;
        justify-content: space-around;
        font-weight: 500;
        font-size: 1.3rem;
    }

    .inputs-manages{
        display: flex;
        justify-content: space-between;
        margin: 1rem 7.5rem 2rem 3.5rem;
    }

   
}