.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // margin-top: 5%;

    section {
        display: flex;
        flex-direction: column;
        gap: 4em;
    }

    .whatsapp-contact-image {
        width: 60dvw;
        max-width: 500px;
        height: auto;
        margin: 8dvh 0;
    }
}