.filter-container {
    display: flex;

    justify-content: space-between;
    padding: 1dvh 3dvw;
    margin-top: 1rem;
}

.filter-inputs {
    display: flex;
    justify-content: space-around;
}

.input-price {
    display: flex;
    width: 28%;

    .price {
        width: 65%;
    }

    .until-price {
        margin-top: 1.2rem;
    }
}

.modal-row {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.modal-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
    gap: 0.8rem;

    .modal-field {
        width: 97%;
    }

    .modal-select {
        width: 100%;
    }

    .textarea-product {
        border: 1px solid #6BA57D;
        border-radius: 5px;

        height: 10rem;
        padding: 0.5rem 0.5rem;

        &:focus {
            outline: #6BA57D;
        }
    }




    .image-preview-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .image-preview {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
            width: 100px;
            height: 100px;
            background-size: cover;

            .image-delete {
                background-color: red;
                color: white;
                width: 20px;
                border-radius: 10px;
                position: relative;
                left: 82px;
                bottom: 2px;
                cursor: pointer;
            }
        }
    }



    .upload-button {
        background-color: var(--button-blue);
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--button-dark-blue-hover);
        }

        &.disabled {
            background-color: grey;
        }
    }

    .status-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .status-radio{ 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }

        .status-title {
            
            position: relative;
            bottom: 2px;
        }

        .status-input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            input {
                position: relative;
                bottom: 4px;
            }
        }
    }
}