.control-panel {
    padding: 1em 4em;

    h2 {
        font-weight: 600;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            margin-bottom: 2em;

            h3 {
                color: var(--button-lime-green);
                margin: 0;
            }
            
            p {
                margin: 0;
                font-weight: 500;
            }
        }
    }
}