.cart-number-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8pt;
    font-weight: 700;
    position: absolute;
    top: -6px;
    right: -8px;
    z-index: 1;
    pointer-events: none;

    background-color: #e74c6f;
    color: #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.cart-number-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 9.6pt;
    position: relative;
    left: 26px;
    top: 2px;
    z-index: 1;

    background-color: white;
    color: var(--text-primary-color);
    border-radius: 50px;
    width: 24px;
    height: 21px;
}