.header-desktop {
    width: 100%;

    background-image: url('../../../assets/images/bg-header.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;

    .header-content {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 1400px;
        margin: 0 auto;
        padding: 1em 5% 0.8em;

        .header-content-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .header-logo-link .header-logo {
                width: 8dvw;
            }

            .header-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 0.8em;

                a {
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 28px;
                    height: 28px;
                    object-fit: contain;
                }

                .cart-img {
                    position: relative;
                    bottom: 0;
                }
            }

            .header-search-container {
                display: flex;
                flex-direction: column;
                position: relative;

                max-width: 40dvw;
                width: 100%;
            }
        }

        .header-content-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap: 3em;
            width: 100%;

            margin-top: 1.5em;
            padding-top: 0.5em;

            a {
                color: var(--text-primary-color);
                text-decoration: none;
                font-size: 1em;
                font-weight: 500;
                white-space: nowrap;

                border-bottom: 1px solid transparent;
                transition: border-bottom 0.3s ease-out, color 0.3s ease-out;

                &:hover {
                    color: var(--button-dark-blue-hover);
                    border-bottom: 1px solid var(--button-dark-blue-hover);
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .header-desktop .header-content {
        .header-content-top .header-buttons img {
            width: 32px;
            height: 32px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .header-desktop .header-content .header-content-bottom a {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1440px) {
    .header-desktop .header-content .header-content-bottom a {
        font-size: 1.3em;
    }
}