:root {
  font-family: 'Inter', sans-serif;

  color: var(--text-primary-color);

  --bg-pink: #EDA3CE;
  --bg-blue: #B5ECF5;

  --text-primary-color: #0A2C3D;
  --title-pink: #B34983;
  --title-green: #8F9753;
  --title-blue: #2789B9;

  --button-pink: #B34983;
  --button-green: #8F9753;
  --button-lime-green: #6BA57D;
  --button-blue: #2789B9;
  --button-dark-blue: #0A2C3D;
  --button-dark-blue-hover: #1e678c;

  --button-confirm: #6BA57D;
  --button-confirm-hover: #24cb59;
  --button-cancel: #e33b3b;
  --button-cancel-hover: #910000;

  --card-background: #d5d8c457;

  --input-color: #daddce;
  --input-label: #44463a;
  --input-border: #0a2c3d80;
}

body {
  margin: 0 auto;
  max-width: 100dvw;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}