:root {
  font-family: 'Inter', sans-serif;

  color: var(--text-primary-color);

  --bg-pink: #EDA3CE;
  --bg-blue: #B5ECF5;

  --text-primary-color: #0A2C3D;

  --title-pink: #B34983;
  --title-green: #8F9753;
  --title-blue: #2789B9;

  --button-pink: #B34983;
  --button-green: #8F9753;
  --button-lime-green: #6BA57D;
  --button-blue: #2789B9;
  --button-dark-blue: #0A2C3D;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}