.container {
  padding: 30px;
  background-color: #f1f1f1;
  border-radius: 8px;
  align-items: center;
}

.div-cadastrar {
  height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2,
h3 {
  font-size: 2rem;
  text-align: center;
  color: var(--button-lime-green);
}

p {
  font-size: 1rem;
  text-align: center;
  color: var(--button-lime-green);
}

input,
select,
button {
  width: 50%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid var(--button-lime-green);
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  margin-top: 8px;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, sans-serif;
}

textarea:focus {
  border-color: var(--button-lime-green);
  outline: none;
  line-height: 1.5;
}

input:focus,
select:focus {
  border-color: var(--button-lime-green);
  outline: none;
}

.input-right {
  width: 60%;
  max-height: 100vh;
  font-size: 16px;
  top: 220px;
  left: 50%;
  text-align: center;
  position: absolute;
}

.input-right p {
  color: black;
  margin: 0;
}

.btn-cadastrar {
  display: flex;
  justify-content: center;
}

.btn-cadastrar button {
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: var(--button-lime-green);  
  font-size: 1.75rem;
  font-weight: bold;
  width: 320px;
  height: 65px;
}

table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  margin-top: 20px;
}

.div-listar {
  margin-top: 40px;
}

th,
td {
  padding: 10px;
  text-align: left;

}

th {
  font-size: 1.3rem;
  font-weight: 500;
  color: #2D2D33;

}

td {
  border-bottom: 1px solid var(--button-lime-green);
  font-size: 1.2rem;
  font-weight: normal;
  color: #2D2D33;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.confirmation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.confirmation-box p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2D2D33;
}

.confirm-delete {
  background-color: #ff4d4d;
  color: white;
  padding: 8px 16px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-delete:hover {
  background-color: #ff1a1a;
}

button[onClick="confirmDelete"] {
  background-color: #f44336;
  color: white;
}

.radio-buttons {
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group label {
  color: #2d2d339c;
  gap: 10px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-buttons label {
  color: #000000;
  font-weight: normal;
  font-size: 1.5rem;
}

.radio-group {
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.btn-deletar {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-editar {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: var(--button-lime-green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005f73;
}

.btn-deletar:hover {
  background-color: red;
}

.confirmation-box {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  color: white;
  border: none;
  border-radius: 4px;
}