main {
  margin: 2rem 5rem;
}

.aboutus-apresentation {
  display: grid;
  grid-template-columns: 1fr 1fr;

  //imagem do time
  .aboutus-team {
    width: 100%;

    img {
      width: 90%;
    }
  }
  //texto de apresentação
  .aboutus-text-apresentation {
    align-items: center;
    width: 90%;

    .aboutus-section-title {
      color: var(--title-blue);
      font-size: 2rem;
      font-weight: 700;
    }
    .aboutus-subtitle {
      color: var(--text-primary-color);
      font-size: 1.5rem;
      font-weight: 600;
    }
    .aboutus-text-apresentation {
      color: var(--text-primary-color);
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

//sessão de contatos e endereços

.contacts {
  display: flex;
  flex-direction: column;
  columns: 2;
  margin: 2rem 7rem;

  .contacts-title {
    color: var(--title-blue);
    font-size: 2rem;
    text-align: center;
  }
  .address-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

    .location {
      display: flex;
      gap: 0.5rem;
    }
    .location-title {
      color: var(--title-blue);
      font-size: 1.5rem;
      font-weight: 700;
    }
    .location-icon {
      width: 3rem;
      height: auto;
    }
    .address-location {
      font-size: 1rem;
      color: var(--text-primary-color);
    }
  }
  .socialnetwork {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    .socialnetwork-iten {
      align-items: center;
    }
    .wpp-instagram {
      display: flex;
      gap: 0.5rem;
    }
    .socialnetwork-title {
      color: var(--title-blue);
      font-size: 1.5rem;
      font-weight: 700;
    }
    .wpp-instagram-icon {
      width: 2rem;
      height: auto;
    }
    .wpp-number {
      color: var(--text-primary-color);
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      .info-number {
        margin: 0;
      }
    }
    .instagram-info {
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      .info-instagram {
        text-decoration: none;
        color: var(--text-primary-color);
      }
    }
  }
}
//Sessão de dúvidas
.faq-section-title {
  color: var(--title-blue);
  font-size: 2rem;
  margin:3rem 1.2rem;
}

.faq-container {
  width: 100%;

  margin: 1.2rem;
}

.faq-item {
  border: 1px solid #2789b9;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.faq-question::after {
  content: "+";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2789b9;
  position: absolute;
  right: 1rem;
}

.faq-item[open] .faq-question::after {
  content: "-";
}

.faq-answer {
  padding: 1rem;
  font-size: 1rem;
  border-top: 1px solid #2789b9;
}
