.banner-section {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-container {
        display: flex;
        width: 100%;
        transition: transform 1.1s ease-in-out;
    }

    .banner {
        min-width: 100%;
        transition: transform 1.1s ease;
    }

    .banner img {
        width: 100%;
        display: block;
    }

    .arrow {
        position: absolute;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 1;
    }

    .prev {
        left: 2em;
    }

    .next {
        right: 2em;
    }
}

@media screen and (min-width: 550px) and (max-width: 822px) {
    .banner-section {
        margin-top: -1.8rem;

        .arrow {
            img {
                width: 2.8em;
            }
        }
    }

}

@media screen and (min-width: 319px) and (max-width: 550px) {
    .banner-section {
        margin-top: -1.8rem;

        .arrow {
            img {
                width: 2.2em;
            }
        }

        .prev {
            left: 1em;
        }

        .next {
            right: 1em;
        }
    }

}